@font-face{
	font-family: 'Courier Prime';
	src: url(../fonts/CourierPrime/CourierPrime-Regular.ttf);
	font-style: normal;
}

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	color: #FFFFFF;
	cursor: default;
	user-select: none;
	text-align: center;
	font: italic 26px/26px Courier;
	letter-spacing: 1.2px;

	background: #1F1F1F url(../images/specks.png) repeat 0 0;
	background-attachment: fixed;
	animation: space 60s linear infinite;
	animation-fill-mode: forwards;
	background-size: 1239px;
}

/*Bar*/

#bar{
	position: fixed;
	top: 0;
	width: 100%;
	animation: fadeIn 1s ease-in;
}

.bar a{
	display: block;
	padding: 10px;
	text-decoration: none;
}

.left{
	float: left;
	text-align: left;
}

#h1,#h2{
	margin: 0;
	animation: fadeIn 0.5s;
}

#h2{
	display: none;
}

.right{
	float: right;
	text-align: right;
}

#d1,#d2,#d3{
	margin: 0;
	animation: fadeIn 0.5s;
}

#d2,#d3{
	margin: 46px 0 0 0;
	display: none;
}

/*Quotes*/

.quote{
	display: block;
	width: 70vw;
	margin: 48vh 15vw 100vh 15vw;
}

/*Animations*/

@keyframes space {
	from {background-position: 0 0;}
	to {background-position: -1239px -476px;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
